<!DOCTYPE html>
<html>
<head>
	<title>Noke.us: {{ name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
  <div class="container">
  <div class="row">
  <div class="">
      <h1>{{name}}</h1>

      {{ content | safe }}
  </div>
  </div>
  </div>
  </body>
</html>